.canvas{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f9fafb;
    --adm-color-primary: #e2792e;
}

.login-button{
    margin-top: 3vh;
    width: 97%;
}

.register-button{
    margin-top: 1vh;
    width: 97%;
}

.login-logo{
    margin-top: 40px;
    width: 30vh;
    height: 8vh;
}

.input-user{
    margin-top: 3vh;
}

.user-form-panel{
    margin-top: 25px;
    width: 100%;
}

.user-form{
    width: 400px;
    width: 100%;
}

.overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    background: white;
    border-radius: 16px;
}

.bottom-logo{
    position: absolute;
    width: 16vh;
    height: 4vh;
    bottom: 0;
    margin-bottom: 35px;
}

.link{
    width: 100%;
}

.welcome-register-text{
    margin-top: 40px;
    font-size: 25px;
    color: #e2792e;
}

.nav-bottom{
    position: absolute;
    border-top: solid 1px var(--adm-border-color);
    width: 100%;
    bottom: 0px;
    height: 10%;
}

.me-header-area{
    width: 100%;
}

.me-header-area-greeting{
    margin-left: 20px;
}

.me-operation-area{
    width: 100%;
}

.hub-control{
    width: 100%;
    height: 90%;
    overflow: scroll; /* 不允许子布局超过父布局大小，并且超出范围的部分生成滚动条 */
}

.hub-operation-area{
    overflow-y: auto;
}

.hub-operation-area-font-main{
    font-weight: bolder;
}